* {
    margin: 0;
}

nav {
    text-transform: uppercase;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #111;
    margin-left: 0px;
    z-index: 2;
    
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: #FFF;
    float: right;
    font-family: monospace;
}

.fa-crown {
    color: #FFF;
    top: 50%;
    position: absolute;
    left: 15px;
}

footer {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}